.rsp-container {
  display: flex;
  flex: 1;
  position: relative;
  outline: none;
  overflow: hidden;
  user-select: text;
}

.rsp-container.vertical {
  flex-direction: row;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.rsp-container.horizontal {
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.rsp-pane {
  flex: 1;
  position: relative;
  outline: none;
}

.rsp-pane.has-size {
  flex: none;
}

.rsp-pane.horizontal.has-size {
  display: flex;
}
